@model IEnumerable<KCHitterDAD.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Player Name: @Html.TextBox("SearchString") <br/>
        <input type="submit"value="Filter" />
    </p>
 }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SessionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalHits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pitches)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitVelocity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SessionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalHits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pitches)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExitVelocity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerID })
        </td>
    </tr>
}

</table>
