@model KCHitterDAD.Models.Session

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pitches)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pitches)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalHits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoodContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitVelocity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitVelocity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
